<h1>Notes list</h1>

<!--
BASE HTML WITH SIMPLE CSS
<div class="main-div">
<mat-list class="inline-list">
	<mat-list-item *ngFor="let note of notes" class="card">
		<mat-card >
			<mat-card-title-group>
				<mat-card-title>{{note.title}}</mat-card-title>
				<mat-card-subtitle>{{note.id}}</mat-card-subtitle>
			</mat-card-title-group>
			<mat-card-content>
				{{note.description}}
			</mat-card-content>
		</mat-card>
	</mat-list-item>
</mat-list>
</div>
!-->

<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
<ng-container *ngFor="let note of notes">
    <mat-card >
			<mat-card-title-group>
				<mat-card-title>{{note.title}}</mat-card-title>
				<mat-card-subtitle>{{note.id}}</mat-card-subtitle>
			</mat-card-title-group>
			<mat-card-content>
				{{note.description}}
			</mat-card-content>
		</mat-card>
  </ng-container>
</div>