/* START VERTICAL STYLE */
/*
h1 {
	text-align: center;
	margin-bottom: -2em;
}
.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
	margin-top:5.0em;
	margin-bottom: 1.0em;
}

mat-card{
    width: 90%;
}
*/
/* END VERTICAL STYLE*/

/* START VERTICAL STYLE */
/* 
h1 {
	margin-bottom: -2em;
}


.mat-list-base.inline-list {
    display: flex;
	margin-top: 7.5em;
}
*/
/* END VERTICAL STYLE*/ 

mat-card {
	margin-top: 1.5em;
}

